* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
.main__container {
  max-width: 950px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 1.2em 0 0;
  //padding: 0 2em;
}

.pomodoro__wrapper {
  background-color: #eeeeee;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2.5em;
  //padding: 1.5em;
  position: relative;

  & h1 {
    font-weight: 300;
    margin: 0 0 0.2em;
    font-size: 1em;
    //margin: 0 0 0.5em -3em;
  }

  & .count-times {
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    width: 300px;
    text-align: center;
    margin: 1.3em 0;

    & h1 {
      font-size: 1.4em;
      //width: 250px;
      align-self: center;
    }

    & ul {
      text-align: left;
      font-size: 0.75em;
      padding: 0 0 0 2em;
    }
  }
}

.log-out {
  position: absolute;
  top: -1%;
  right: 5%;
  & > button {
    border: none;
    background: transparent;
    font-size: 0.5em;
  }
  & button:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}

.pomodoro__container {
  max-height: 500px;
  width: 295px;
  height: 70vh;
  //width: 82%;
  //min-width: 671px;
  //height: 40vh;
  //padding: 0 0.45em 0.6em 0.7em;
  //justify-content: space-evenly;
  background-color: #fff;
  border-radius: 0.3em;
  padding: 0.4em;
  box-shadow: 0px 4px 7px 5px rgb(191 191 191 / 71%);
  -webkit-box-shadow: 0px 4px 7px 5px rgb(191 191 191 / 71%);
  -moz-box-shadow: 0px 4px 7px 5px rgba(191, 191, 191, 0.71);
  display: flex;
  flex-direction: column;
  align-items: self-start;
  margin: 0 0 1em;
  position: relative;
  overflow: hidden;
  display: space-evenly;

  & span {
    font-size: 0.6em;
    font-weight: 400;
  }

  .status__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 145px;
    flex-direction: column;
    //min-width: 600px;

    & span {
      background-color: #eaeaea;
      padding: 0.1em 0.45em;
      border-radius: 0.8em;
      display: flex;
      align-items: center;
      min-width: 144px;
      justify-content: center;
      height: 1.9em;
      font-size: 0.5em;
    }
    span.active {
      box-shadow: 0px 4px 4px 2px green;
    }
  }

  .middle__container {
    //min-width: 620px;
    display: flex;
    //align-items: center;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    margin: 0.51em 0;

    & .timer {
      font-size: 1.8em;
    }

    & .btn-play,
    .btn-pause {
      background-color: transparent;
      border: none;
    }
    & .btn-play svg {
      fill: #8a8a8a;
    }

    .btn-play:hover {
      & svg {
        fill: forestgreen;
      }
      cursor: pointer;
      transform: scale(1.1);
    }
    .btn-pause:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }
  & .btn-restart {
    position: absolute;
    top: 7em;
    right: 0.5em;
    /* top: 4.7em;
    right: 0.5em; */
    & button {
      background-color: #eaeaea;
      border-radius: 0.8em;
      border: none;
      height: 2.5em;
      width: 11em;
      /* font-size: 0.4em; */
      font-weight: 700;
    }
    & button:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }

  .task__container {
    //min-width: 600px;
    display: flex;
    justify-content: flex-start;
    color: #8a8a8a;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    & span {
      max-width: 475px;
      overflow: hidden;
    }
  }
}
.write__task {
  width: 295px;
  background-color: #e3e3e3;
  //height: 365px;
  padding: 0.5em 0.5em 1em;
  text-align: left;
  border-bottom: 6px solid blue;
  border-radius: 0.3em 0.3em 0 0;
  //min-width: 671px;

  & input {
    font-size: 0.6em;
    color: #8a8a8a;
    background-color: transparent;
    border: none;
    &:hover {
      cursor: pointer;
    }
    &:focus-visible {
      //border: 3px solid blue;
      transform: scale(1.01);
    }
  }
  & form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & button {
      background: white;
      border: none;
      border-radius: 0.8em;
      font-size: 0.4em;
      padding: 0 0.5em;
      margin: 0.8em 0;
      width: 5.2em;
      height: 2em;

      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }
    }
  }

  & p {
    font-size: 0.8em;
  }
}

.login__wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  //padding: 3em 9em;
  background-color: #eeeeee;
  & .welcome__msg {
    color: gray;
    width: 300px;
    text-align: center;
    font-size: 1.8em;
  }
  & .error__msg {
    color: crimson;
    margin: 0.05em 0;
  }
}
.container__login {
  width: 50%;
  min-width: 256px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: white;
  align-items: center;
  flex-direction: column;
  padding: 1em 0 2.5em;
  border-radius: 0.35em;
  align-items: center;
  flex-direction: column;
  max-width: 430px;
  //min-width: 240px;
  margin: 0.5em 0;

  & h1 {
    font-size: 2.5rem;
    margin: 0.3em 0;
  }
}
.form__container {
  display: flex;
  flex-direction: column;
  text-align: left;
  & input {
    margin: 0 0 1.05em;
  }
  & p {
    text-align: center;
    margin: 0.5em 0 0;
  }
  & button {
    border: transparent;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    background-color: blue;
    padding: 0.2em 0;
  }
  & button:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}
.register-btn {
  margin: 0.5em 0;
  border: none;
  background: none;
  color: blue;
}
/* MQ */
@media (min-width: 536px) {
  .pomodoro__container {
    width: 510px;
    height: 45vh;
    max-height: 275px;
    padding: 0.5em;
    justify-content: space-evenly;

    & .status__container {
      flex-direction: row;
      height: auto;
      width: 470px;
    }

    & .middle__container {
      width: 470px;
      flex-direction: row;
      align-items: center;
    }

    & .btn-restart {
      top: 3.9em;
      right: 0.3em;
    }
  }
  .write__task {
    width: 510px;

    & form {
      flex-direction: row;
      & button {
        align-self: flex-end;
      }
    }
  }
}

@media (min-width: 768px) {
  .login__wrapper {
    & .welcome__msg {
      width: auto;
    }
  }
  .main__container {
    padding: 2em 2em 0;
  }
  .pomodoro__container {
    width: 515px;
    max-height: 282px;
    min-width: 648px;

    //min-width: 671px;
    //height: 42vh;
    padding: 0.45em 0.45em 0.6em 0.7em;
    justify-content: space-evenly;

    & .middle__container {
      width: 100%;
    }

    & .status__container {
      min-width: 600px;

      & span {
        width: 186px;
      }
    }
  }
  .write__task {
    width: 648px;
  }
}

@media (min-width: 1152px) {
  .pomodoro__container {
    max-height: 335px;

    & .btn-restart {
      top: 4.7em;
      right: 0.3em;
    }

    & .status__container {
      flex-direction: row;
      height: auto;
      width: 100%;
    }
  }

  .log-out {
    top: 2%;
    right: 5%;
  }

  .pomodoro__wrapper {
    & .count-times {
      & ul {
        text-align: left;
        font-size: 0.95em;
        padding: 0 0 0 0.2em;
      }
    }
  }
}
